<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">


	<!-- ROTAS 1 - Controllador 2 - View para o usuario URL : /ACADEMIA/CADASTRAR -->

	<!-- Define os pacotes que estão os componentes do spring -->


	<!-- Criacao de pacotes onde ficará os controllers -->
	<!-- Colocar as dependencias de onde o spring vai gerenciar -->
	<context:component-scan
		base-package="br.com.fiap.spring.controller, br.com.fiap.jpa.dao" />


	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		
		<!-- Persistem -->
		<property name="persistenceUnitName" value="CLIENTE_ORACLE" />
		<!-- ID do datasource -->
		<property name="dataSource" ref="oracleDataSource" />
		<property name="jpaVendorAdapter">
			<bean
				class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
		</property>
	</bean>
	
	
	<!-- Referenciar este ID no entityManager -->
	<!-- Configurando o banco de dados -->
	<bean id="oracleDataSource"
	
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"
			value="oracle.jdbc.OracleDriver" />
		<property name="url"
			value="jdbc:oracle:thin:@oracle.fiap.com.br:1521:orcl" />
		<property name="username" value="rm76583" />
		<property name="password" value="270298" />
	</bean>


	<!-- Gerenciamento de Commits/rollbacks -->

	<!-- Transações --> 
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager"> 
		<property name="entityManagerFactory" ref="entityManagerFactory" /> 
	</bean>
	
	
	<tx:annotation-driven transaction-manager="transactionManager" />


	<!-- Habilitar o uso de anotações -->
	<mvc:annotation-driven />


	<!-- Configuração das view / Onde ela vai se encotrar -->

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- Diretorio views/jsp -->
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />


		<!-- Controller -> Ele recupera os dados que o usuario enviou , e enviar 
			uma resposta para o usuario ou seja Request e Response Criação do Controller 
			-> Apenas utilizar a anotação @Controller Cada metodo será mapeado para uma 
			URL. Ex: http://localhost:8080/NomeProjeto_MVC/index -->

	</bean>

	<!-- Liberar o acesso ao boostrap , libera os arquivos estaticos sem passar 
		pela controller -->
	<mvc:default-servlet-handler />

</beans>